#releases
  list-style-type: none
  margin: 1rem 0 0 0

  .release
    margin-bottom: 2rem

    .release-header
      background-color: transparent
      padding-top: 1rem

      th
        font-weight: 300
        padding-bottom: 1rem

      i
        color: $palette-light-gray
        font-size: 1.15rem
        margin-right: .5rem

      .name-wrapper
        font-size: 1.2rem
        font-weight: normal
        margin-right: 2rem
        padding-left: 0

      .date
        color: $palette-dark-gray
        font-size: rem-calc(14)
        line-height: rem-calc(14)
        vertical-align: bottom

        i
          font-size: .75rem
          margin-right: .25rem

  .stories
    border: 0

    tr:nth-of-type(even)
      background-color: transparent

    .story

      .icon
        font-size: rem-calc(16)
        padding-right: 0
        padding-left: 0
        text-align: center
        vertical-align: top

      .story-id-wrapper
        vertical-align: top

      .story-id-wrapper a, .story-id-wrapper a:hover
        color: $palette-black
        font-family: 'Questrial'

      .story-id-wrapper a:hover
        text-decoration: underline
        vertical-align: top

      .type
        font-weight: normal
        text-transform: uppercase
        vertical-align: top

      .name
        font-size: rem-calc(14)
        margin-bottom: .5rem
        vertical-align: top

  .bug
    td.icon, td.type
      color: $palette-green

  .chore
    td.icon, td.type
      color: $palette-purple

  .feature
    td.icon, td.type
      color: $palette-orange
